body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f4f8;
}

.header {
    background-color: #0073e6;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 4m;
}

.container {
    max-width: 900px;
    margin: 15px auto;
    padding: 25px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    /* background: linear-gradient(to right, #f3c2c2, #dfbeec); */
}

.form-group {
    margin-bottom: 6px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 3px;
    color: #a06119;
}

input, select, textarea {
    width: 100%;
    margin-top: 1px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 13px;
    box-sizing: border-box;
    transition: border-color 0.3s ease-in-out;
    padding-left: 6px;
}

input:focus, select:focus, textarea:focus {
    border-color: #0073e6;
    outline: none;
}

input[type="file"] {
    padding: 5px;
}

button {
    background-color: #0073e6;
    color: white;
    border: none;
    padding: 4px 20px;
    border-radius: 5px;
    font-size: 17px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin: 1px auto;
    max-width: 250px;
}

button:hover {
    background-color: #005bb5;
}

.inline {
    display: flex;
    gap: 15px;
}

.inline > div {
    flex: 1;
}

textarea{
    resize: none;
}

.search {
    max-width: 98%;
    margin: 0 auto;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    padding: 20px; 
}

  .issue-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.issue-table th,
.issue-table td {
    border: 1px solid #ddd;
    padding: 4px;
    text-align: center;
    font-size: 14px;
    font-weight: normal;
}

.issue-details p {
    font-size: 12px;
    margin-bottom: 10px;
}


.auto-style4
{
    color:#333333;
    font-family:Verdana;
    font-size:small;
    height:16px;
    width: 100%;
    text-align: left; 
    margin-right:0px; 
    margin-left: 0px;
    border-color: #35357c;
    border-style: ridge;

}

.grid_scroll_1
{
    overflow-x:hidden;
    overflow-y: scroll;
    width: 1370px;
    height: 250px;

}

  .form-control {
    font-family: Verdana,Sans-serif, Arial, Helvetica;
    font-size: 12px;
    outline: medium none;
    padding: 3px;
    vertical-align: top;
    width:200px;
    height: 50%;
    border-color: gray;

  }

  .form-control1 {
    font-family: Verdana,Sans-serif, Arial, Helvetica;
    font-size: 12px;
    outline: medium none;
    padding: 3px;
    vertical-align: top;
    width:6cm;
    height:10cm;
    border-color: gray;
  }
   
.SubHeading1 {
    font-size:large;
    font-weight: normal;
    margin: 0;
    height: 5px;
    font-family: Verdana,Sans-serif, Arial, Helvetica;
    vertical-align: middle;
    text-align: left;
    padding: 2px;
    color:black;
    background-image: linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
    width:100%;
}
   
.new{
    max-width: 900px;
    margin: 15px auto;
    padding: 10px;
    padding-top: 25px;
    padding-bottom: 20px;
    background: linear-gradient(to right, #f3c59f, #f5b2b2);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.35);
    overflow: auto;
}
.last {
    max-width: 90%;
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 55px;
    padding: 15px;
    background: white;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.25);
    background: linear-gradient(to right, #f1cca2, #f8c0c0);
}