body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9fbfd;

}

.container {
    max-width: 99%;
    margin: 15px auto;
    padding: 25px;
    background: linear-gradient(to right, #fdc7e8, #c1ecf1);
    /* background-color: #fcdcf0;  */
    border: 1px solid rgb(46, 46, 46);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.35);
}

.new{
    max-width: 99%;
    margin: 15px auto;
    padding: 10px;
    padding-top: 25px;
    padding-bottom: 20px;
    background: linear-gradient(to right, #ffdaf1, #d0f1f5);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.35);
    overflow: auto;
}

label {
    display: block;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 3px;
    color: #070607;
}

td {
    display: block;
    font-size: 30spx;
    font-weight: bold;
    margin-bottom: 4px;
    color: #ffffff;
}

input, select, textarea {
    width: 100%;
    margin-top: 1px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 13px;
    box-sizing: border-box;
    transition: border-color 0.3s ease-in-out;
    padding-left: 6px;
}

.group {
    margin-bottom: 6px;
}

.inline {
    display: flex;
    gap: 15px;
}

.inline > div {
    flex: 1;
}

button {
    background: linear-gradient(to right, #d14178, #d45351);
    color: white;
    border: none;
    padding: 4px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin: 1px auto;
    margin-top:27px ;
    max-width: 310px;
    height: 1cm;
}

.btnn{
    background: linear-gradient(to right, #d14178, #d45351);
    color: white;
    border: none;
    max-width: 310px;
    height: 1cm;  
}

.issue-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.issue-table th,
.issue-table td {
    border: 1px solid #131212;
    padding: 4px;
    text-align: center;
    font-size: 15px;
    font-weight:450;
    color: #070607;
}

.issue-details p {
    font-size: 12px;
    margin-bottom: 10px;
}


.find {
    max-width: 99%;
    margin: 15px auto;
    padding: 25px;
    background: white;
    border: 1px solid rgb(46, 46, 46);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.25);
}

.last {
    max-width: 80%;
    border: 1px solid black;
    margin-top: 10px;
    margin-left: 105px;
    padding: 15px;
    background: white;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.25);
    background: linear-gradient(to right, #fdc7e8, #c1ecf1);
}

.btn-primary{
    width: 3em;
    background-image: linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
    color: black;
    font-weight: bold;
    cursor: pointer;
    border-radius: 3rem;
    border-color: #2c3e50;
    height: 22px;
    font-size: 11px;
    vertical-align: middle;
    text-align: center;
    line-height: 5px; 
  
  }

  
  .btn-primary:hover{
    background-color: #5c9bda;
  }


  .auto-style4
{
    color:#333333;
    font-family:Verdana;
    font-size:small;
    height:16px;
    width: 100%;
    text-align: left; 
    margin-right:0px; 
    margin-left: 0px;
    border-color: #35357c;
    border-style: ridge;

}

.grid_scroll_1
{
    overflow-x:hidden;
    overflow-y: scroll;
    width: 1370px;
    height: 250px;

}

  .form-control {
    font-family: Verdana,Sans-serif, Arial, Helvetica;
    font-size: 12px;
    outline: medium none;
    padding: 3px;
    vertical-align: top;
    width:200px;
    height: 50%;
    border-color: gray;

  }

  .form-control1 {
    font-family: Verdana,Sans-serif, Arial, Helvetica;
    font-size: 12px;
    outline: medium none;
    padding: 3px;
    vertical-align: top;
    width:6cm;
    height:10cm;
    border-color: gray;
  }
  
  
  .placeholder {
    font-family:Verdana,Sans-serif, Arial, Helvetica ;
    
  }
  
    
.SubHeading1 {
    font-size:large;
    font-weight: normal;
    margin: 0;
    height: 5px;
    font-family: Verdana,Sans-serif, Arial, Helvetica;
    vertical-align: middle;
    text-align: left;
    padding: 2px;
    color:black;
    background-image: linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
    width:100%;
}

.SubHeading2 {
    font-size:small;
    font-weight: bold;
    margin: 0;
    height: 5px;
    font-family: Verdana,Sans-serif, Arial, Helvetica;
    vertical-align: middle;
    text-align: left;
    padding: 2px;
    color:black;
    background-image:linear-gradient(wheat,wheat,wheat);
    width:100%;
}

.grid_scroll_2
{
    overflow-y: scroll;
    width: 1370px;
    height: 300px;
}

.grid_scroll{
    overflow: auto;
    width: 100%;
    height: 200px;
}

.grid_scroll_3{
  overflow: auto;
  /* width: 800px; */
  width: 100%;
  height: 260px;
  width: 100%;
}

.btn-info{
    width: 5em;
    background-image: linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
    color: black;
    font-weight: bold;
    cursor: pointer;
    border-radius: 3rem;
    border-color: #2c3e50;
    height: 22px;
    font-size: 11px;
    vertical-align: middle;
    text-align: center;
    line-height: 10px; /* Tamaño de linea */
    width: 5rem;
  }

    legend {
      display: block;
      padding-inline-start: 1px;
      padding-inline-end: 1px;
      border-width: initial;
      border-style: none;
      border-color: initial;
      border-image: initial;
      width: fit-content;
  }
  
  
  
  fieldset {
      display: block;
      margin-inline-start: .30px;
      margin-inline-end: 1px;
      padding-block-start: 0.15em;
      padding-inline-start: 0.75em;
      padding-inline-end: 0.75em;
      padding-block-end: 0.625em;
      min-inline-size: min-content;
      border-width: 10px;
      border-style:solid;
      border-color: threedface;
      border-image: initial;
  }
  
  .RFS legend {
      font-size: 1em;
      letter-spacing: 0.05em;
      color: #000 !important;
      
      padding: 2px 5px;
      background: #fefeff;
      border-radius: 3px;
      border: #608cb0 solid 1px;
  }
  
  .RFS {
      margin: 1px auto;
      border: 1px solid #608cb0;
      -moz-border-radius-bottomleft: 7px;
      -moz-border-radius-bottomright: 7px;
      -moz-border-radius-topleft: 5px;
      -moz-border-radius-topright: 7px;
      -webkit-border-radius: 7px;
      border-radius: 3px;
      min-height: 30px;
  }

  /* .modal-dialog {
    max-width: 1200px;
    margin: 0 auto;
    text-align: right; 
  } */

  .modal-dialog {
    margin: auto;
    position: relative;
    top: 15%;
    max-width: 80%;
    transform: translateY(-50%);
}

 