   
<header>
    <div class="header" style="background: linear-gradient(to right, #6a11cb, #2575fc); color: white; padding: 7px; position: relative; display: flex; align-items: center; justify-content: center;">
        <img src="http://saiitportal.com/Images/Sai%20Logo.jpg" alt="Sai Service" style="height: 50px; margin-right: 15px;">
        <marquee style="font-size: 22px; font-weight: bold;">WELCOME TO SAI SERVICE IT SUPPORT</marquee>
    </div>

    <p style="text-align: center; font-size: 16px;font-weight:bold;margin-top: 20px;background: linear-gradient(to right, #fcadf8,#a8c4f5);">
        <!-- Support Issue Registration Form -->
         ERP Support Form
    </p>    
</header>

<hr>
 
<form [formGroup]="erpsupportcomForm"  (ngSubmit)="erpsupportfrm(erpsupportcomForm)">
    <div class="container">
        <div class="group inline">
        
           <div>
            <label>IT Executive Name</label>
            <select  style="height: 1cm;" formControlName="srcitexecutive">
                <option *ngFor="let sc of itsupportList" [value]="sc.cmnDesc">
                    {{sc.cmnDesc}}
                </option>
            </select>
           </div>
                  
           <div>
            <label>City</label>
            <select type="number" id="ouId" style="height: 1cm;" formControlName="ouId">
                <option *ngFor="let sc of  cityList" [value]="sc.ouId">
                    {{sc.ouId}}-{{sc.ouCity}}
                </option>
            </select>
           </div>
                                 
           <div>
            <label>Location</label>
            <select type="number" id="locationId" style="height: 1cm;" formControlName="srclocationId">
                <option *ngFor="let sc of  alllocationlist" [value]="sc.locId">
                    {{sc.locId}} - {{sc.locName}}
                </option>
            </select>
           </div>

           <div>
            <label>Status</label>
            <select id="status" style="height: 1cm;" formControlName="srcstatus">
                <option *ngFor="let sc of issuestatusList" [value]="sc.cmnDesc">
                    {{sc.cmnDesc}}
                </option> 
            </select>
           </div>

           <div>
            <label>Search by Issue No</label>
            <input type="text" id="issueNo" style="height: 1cm;" formControlName="issueNo">
           </div>

           <button type="submit" id="register" (click)="search()">Search</button>

           <!-- <button>Export</button>

           <button>All City</button> -->

           <button>Reports</button>
           <input type="text" hidden style="height: 0.9cm;" formControlName="userSubject">
           <input type="text" hidden style="height: 0.9cm;" formControlName="subject">
        
    
    </div>
    </div>
    

<div class="new">
    <table class="issue-table">
        <thead>
            <tr  class="GridHeader">
              <th scope="col" style="border:1px solid black;background-color: aquamarine;font-weight: 650;">Select</th>
              <th scope="col" style="border:1px solid black;background-color: aquamarine;font-weight: 650;">Issue No</th>
              <th scope="col" style="border:1px solid black;background-color: aquamarine;font-weight: 650;">Issue Date</th>
              <th scope="col" style="border:1px solid black;background-color: aquamarine;font-weight: 650;">Priority</th>
              <th scope="col" style="border:1px solid black;background-color: aquamarine;font-weight: 650;">OU</th>
              <th scope="col" style="border:1px solid black;background-color: aquamarine;font-weight: 650;">Location</th>
              <th scope="col" style="border:1px solid black;background-color: aquamarine;font-weight: 650;">Department</th>
              <th scope="col" style="border:1px solid black;background-color: aquamarine;font-weight: 650;">Module</th>
              <th scope="col" style="border:1px solid black;background-color: aquamarine;font-weight: 650;">Subject</th>
              <th scope="col" style="border:1px solid black;background-color: aquamarine;font-weight: 650;">User Subject</th>
              <th scope="col" style="border:1px solid black;background-color: aquamarine;font-weight: 650;">Issue Description</th>
              <th scope="col" style="border:1px solid black;background-color: aquamarine;font-weight: 650;">User Name</th>
              <th scope="col" style="border:1px solid black;background-color: aquamarine;font-weight: 650;">User Email</th>
              <th scope="col" style="border:1px solid black;background-color: aquamarine;font-weight: 650;">Contact</th>
              <th scope="col" style="border:1px solid black;background-color: aquamarine;font-weight: 650;">Status</th>
              <th scope="col" style="border:1px solid black;background-color: aquamarine;font-weight: 650;">Issue Type</th>
              <th scope="col" style="border:1px solid black;background-color: aquamarine;font-weight: 650;">Assign To</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let com of erpsupportfromsearch'>
                <th><button type="button"
                    style="width: fit-content;" (click)="issueNoFind(com.issueNo)" class="btn btn-primary"
                    id="register" data-toggle="modal" style="width: fit-content;"
                    data-target="#confirmAlert1">Select</button></th>
                <th>{{com.issueNo}}</th>
                <th>{{com.issueDate}}</th>
                <th>{{com.priority}}</th>
                <th>{{com.ouId}}</th>
                <th>{{com.locationId}}</th>
                <th>{{com.deptId}}</th>
                <th>{{com.module}}</th>
                <th>{{com.subject}}</th>
                <th>{{com.userSubject}}</th>
                <th>{{com.issueDesc}}</th>
                <th>{{com.userName}}</th>
                <th>{{com.userEmail}}</th>
                <th>{{com.contactNo}}</th>
                <th>{{com.status}}</th>
                <th>{{com.issueType}}</th>
                <th>{{com.assignedTo}}</th>
            </tr>
        </tbody>
    </table>
</div>

<div>
           <div class="modal fade" id="confirmAlert1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
               <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                             <h5 class="modal-title" id="exampleModalLabel">Issue Details</h5>
                             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                             <span aria-hidden="true">&times;</span>
                             </button>
                        </div>
                        <div class="modal-body">
                             <label>
                                 Please find the below details of your Issue No:- 
                                <input style="height: 0.7cm; width: 5cm;" formControlName="attribute4" readonly /></label>
           
                             <table class="table table-bordered"
                                    style="border-color: #959595; border-collapse: collapse; width: 100%;">
                                  <thead>
                                      <tr style="background-color: rgb(81, 81, 255); color: white;">
                                         <th>Trans Id</th>
                                         <th>Issue No</th>
                                         <th>TRN Date</th>
                                         <th>TRN Time</th>
                                         <th>Updates</th>
                                         <th>Assign To</th>
                                         <th>status</th>
                                         <th>Updated By</th>
                                         <th>Atachment</th>
                                         <th>View Document</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr *ngFor="let com of viewAllDoucmnet" class="ItemStyle"
                                         style="text-align: center; font-size: 12px;">
                                         <th>{{ com.trlineId }}</th>
                                         <th>{{ com.issueNo }}</th>
                                         <th>{{ com.trnDate | date: 'dd-MM-yyyy' }}</th>
                                         <th>{{com.trnTime }}</th>
                                         <th>{{ com.remark}}</th>
                                         <th>{{com.assignedTo}}</th>
                                         <th>{{ com.status }}</th>
                                         <th>{{ com.lastUpdatedBy }}</th>
                                         <th>{{com.filepath}}</th>
                                         <th>
                                           <button type="button" class="btn btn-primary" style="width: 170px;" (click)="openDocument(com.trlineId,com.filepath)">
                                            View Document
                                           </button>
                                             <!--- (click)="openDocument(com.docId, com.docType)"-->
                                         </th>
                                     </tr>
                                   </tbody>
                            </table>
                         </div>
                         <!-- <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                Close
                            </button>
                         </div> -->

                         <p style="text-align: center;font-size: 22px;font-weight: 800;color: #963a51;">Update Your Issue Here</p>
                        
                         <div class="last">
                            <ng-container class="center" formArrayName="transLines">
                                <ng-container *ngFor="let group of orderlineDetailsArray().controls; let i= index"
                                    [formGroupName]="i">
                                <div class="group inline">
                                    
                                     <div>
                                            <label>Update Issue (250 Characters)</label>
                                            <textarea type="textarea" id="UpdateIssue" formControlName="remark" rows="3"></textarea>
                                     </div>
                        
                                     <div>
                                        <label>Solution Offered (250 Characters)</label>
                                        <textarea type="textarea" id="solutionoffered"  rows="3"></textarea>
                                     </div>
                                </div>
                                <div class="group inline">
                                    <div>
                                        <label>Update Status</label>
                                        <select id="status" style="height: 0.8cm;" formControlName="srcstatus">
                                            <option *ngFor="let sc of issuestatusList" [value]="sc.cmnDesc">
                                                {{sc.cmnDesc}}
                                            </option> 
                                        </select>
                                    </div>
                               
                                    <div>
                                        <label>Issue Update/Close By</label>
                                        <select  style="height: 0.8cm;" formControlName="assignTo">
                                            <option *ngFor="let sc of itsupportList" [value]="sc.cmnDesc">
                                                {{sc.cmnDesc}}
                                            </option>
                                        </select>
                                    </div>

                                       <div>
                                        <label>Select Type</label>
                                           <select id="fileType" style="height: 0.8cm;" formControlName="fileType">
                                               <option *ngFor="let sc of  filetypeList" [value]="sc.cmnDesc">
                                                    {{sc.cmnDesc}}
                                               </option>
                                            </select>
                                       </div>
                                            
                                        <div>
                                            <label for="file-upload">Upload File</label>
                                            <input type="file" id="file-upload" style="height: 0.8cm;" #fileInput formControlName="file">
                                        </div>
                                        <input type="text" hidden style="height: 0.8cm;" formControlName="lastUpdatedBy">

                            

                                        <div>
                                            <label for="file-upload">Email Cc</label>
                                            <input type="text" id="emailcc" style="height: 0.8cm;" formControlName="emailcc">
                                        </div>
                                   
                                        
                        
                                </div>
                            
                            </ng-container>
                        </ng-container>

                                
                                <div class="group inline">
                                    <div>
                                    <button (click)="issueupdate()" style="float: right;">Add/Update Issue</button>
                                    </div>
                                    <div>
                                    <button style="float: left;">Close Issue</button>
                                    </div>
                                </div>
                            
                               </div>



                     </div>
                 </div>
             </div>


</div>
</form>