<html>
    <body>
            <header class="header">
            <div class="header" style="background: linear-gradient(to right, #6a11cb, #2575fc); color: white; padding: 7px; position: relative; display: flex; align-items: center; justify-content: center;">
            <img src="assets/images/Sai Logo.jpg" alt="Sai Service" style="height: 50px; margin-right: 15px;">
            <marquee style="font-size: 22px; font-weight: bold;">WELCOME TO SAI SERVICE</marquee>
            <div style="width: 150px;"><a href="http://saiitportal.com/#/login/login"><b style="color: rgb(248, 247, 250);font-family: Arial, Helvetica, sans-serif;margin-left: 30px;">LOGOUT</b></a></div>
  
        </div>     
    </header>
    <div>
        <div class="marquee-wrapper">
            <h6 class="marquee-text" style="text-align: center;margin-top: 20px;">Accounts</h6>
        </div>
    </div>
<form [formGroup]="acreportviewForm" (ngSubmit)="acreportviewfrm(acreportviewForm)">
<div class="main-container">
  <main>
    <div class="upload-section">
        <h5>Download Report Here:</h5>

    <div class="form-row">

       <div class="form-group">
             <label>City:</label>
               <select type="number" id="ouId" style="height: 1cm;" formControlName="ouId">
                 <option value="">None</option>
                 <option *ngFor="let sc of  cityList" [value]="sc.ouId">
                     {{sc.ouId}}-{{sc.ouCity}}
                 </option>
               </select>
       </div>

       <div class="form-group">
           <label>Type Of Uploads:</label>
             <select id="uploadType" style="height: 0.9cm;" formControlName="uploadType" *ngIf="uploadtypelist?.length">
                              <option *ngFor="let sc of uploadtypelist" [value]="sc.cmnDesc">
                                {{ sc.cmnDesc}}
                              </option>
             </select>
       </div> 

       <div class="form-group">
           <label>Type Of Reports:</label>
              <select id="reportType" formControlName="reportType" *ngIf="reporttypelist?.length">
                              <option *ngFor="let sc of reporttypelist" [value]="sc.cmnDesc">
                                {{ sc.cmnDesc }}
                              </option>
              </select>
       </div>  
    </div>

    <div class="form-row">
        <div class="form-group">
           <label>Month</label>
           <select id="month" name="month" formControlName="month">
                                <option value="">None</option>
                                <option value="JAN">JAN</option>
                                <option value="FEB">FEB</option>
                                <option value="MAR">MAR</option>
                                <option value="APR">APR</option>
                                <option value="MAY">MAY</option>
                                <option value="JUN">JUN</option>
                                <option value="JUL">JUL</option>
                                <option value="AUG">AUG</option>
                                <option value="SEP">SEP</option>
                                <option value="OCT">OCT</option>
                                <option value="NOV">NOV</option>
                                <option value="DEC">DEC</option>
            </select>
        </div>

      <div class="form-group">
                      <label for="year">Year:</label>
                      <!-- <select id="year">
                        <option>Select Year</option>
                        <option [value]="previousYear">{{previousYear}}</option>
                        <option [value]="currentYear">{{currentYear}}</option>
                      </select> -->
                      <select id="year" formControlName="year">
                         <option value="">none</option>
                         <option value="2024">2024</option>
                         <option value="2025">2025</option>
                      </select>
      </div>

      <div class="form-group">
           <label>Financial Year:</label>
                <select name="financialyear" id="financialyear" formControlName="financialyear">
                      <option value="">None</option>
                      <option value="2024-25">2024-25</option>
                      <option value="2025-26">2025-26</option>
                      <option value="2026-27">2026-27</option>
                      <option value="2027-28">2027-28</option>
                      <option value="2028-29">2028-29</option>
                      <option value="2029-30">2029-30</option>
                </select>
      </div>
    </div>

    <div class="form-row">
        <div class="form-group">
            <button style="width: 200px;margin-left: 310px;"  (click)="search()">Show Reports</button>
        </div>        
    </div>

    </div>
  </main>
</div>
</form>
<div class="upload-section5">

      <h6 style="font-weight: 800;">Available Reports:</h6>
      <table style="width: 100%; text-align: left; border-collapse:collapse;">
        <thead>
          <tr style="background-color: #c0bcbc; text-align: center;">
            <th >Report Name</th>
            <th>Upload Type</th>
            <th>Report Type</th>
            <th>Download Report</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let sc of acreportsearch" style="text-align: center;">
            <td>{{ sc.fileName }}</td>
            <td>{{sc.uploadType}}</td>
            <td>{{sc.reportType}}</td>
            <td>
              <button (click)="openDocument(sc.fileName)">Download</button>
            </td>
          </tr>
        </tbody>
      </table>
</div>
</body>
</html>