body {
    font-family: 'Raleway', sans-serif;
    background-color: #f9f9f9;
    color: #2d3436;
    line-height: 1.6;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.brand-name {
    font-size: 1.5rem;
    font-weight: 700;
    color: #100f0f;
}

.main-container {
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
}

.upload-section {
    background-color: #d9ecff;
    border-radius: 8px;
    padding: 30px;
    margin: 20px auto;
    max-width: 800px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.upload-section h2 {
    color: #2d3436;
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 600;
}

#uploadForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-row {
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.form-group label {
    font-weight: 700;
    color: #2d3436;
    margin-bottom: 5px;
}

.form-group select,
.form-group input[type="text"],
.form-group input[type="file"] {
    width: 100%;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    font-size: 14px;
}

.form-group input[type="file"] {
    padding: 6px;
}

.button{
padding: 3px;
margin-top: 15px;
padding-left: 10px;
padding-right: 10px;
border-radius: 5px;
background: linear-gradient(to right, #598ebe, #89a1c2);
}

