<html>
<body>

    <header>
        <div class="header" style="background: linear-gradient(to right, #6a11cb, #2575fc); color: white; padding: 7px; position: relative; display: flex; align-items: center; justify-content: center;">
            <img src="assets/images/Sai Logo.jpg" alt="Sai Service" style="height: 50px; margin-right: 15px;">
            <marquee style="font-size: 22px; font-weight: bold;">WELCOME TO SAI SERVICE</marquee>
        </div>    
    </header>

    <h3 style="text-align: center;font-weight: bolder;margin-top: 20px;background-color: #dde3ec;color: #405f8d;">Network And Hardware Log File Upload</h3>

    <div class="main-container">

        <main>
            <div class="upload-section">
                <form [formGroup]="nhloguploadForm" (ngSubmit)="nhloguploadfrm(nhloguploadForm)">
                    <div class="form-row">
                        <div class="form-group">
                            <label>City:</label>
                            <input formControlName="attribute5" readonly>
                        </div>
                        


                        <div class="form-group">
                            <label>Location:</label>
                              <select type="number" id="locationId"  formControlName="locationId">
                                <option *ngFor="let sc of erplocationList" [value]="sc.locId">
                                    {{sc.locId}} - {{sc.locName}}
                                </option>
                            </select>
                        </div>

                        <!-- <div class="form-group">
                            <label for="logType">Log Type:</label>
                            <select id="logType" formControlName="logType">
                                <option *ngFor="let sc of logTypeList" [value]="sc.report_type">
                                    {{sc.report_type}}
                                </option>
                            </select>  
                        </div> -->

                        <div class="form-group">
                            <label for="logType">Log Type:</label>
                            <select id="logType" formControlName="logType" *ngIf="logTypeList?.length">
                              <option *ngFor="let sc of logTypeList" [value]="sc.code">
                                {{ sc.code }}
                              </option>
                            </select>
                          </div>
                          
                    </div>

                    <div class="form-row">

                        <div class="form-group">
                            <label>Year:</label>
                            <input formControlName="currentYear" readonly>
                        </div>

                        <div class="form-group">
                            <label for="month">Month:</label>
                            <select id="month" name="month" formControlName="month">
                                <option value="">None</option>
                                <option value="JAN">JAN</option>
                                <option value="FEB">FEB</option>
                                <option value="MAR">MAR</option>
                                <option value="APR">APR</option>
                                <option value="MAY">MAY</option>
                                <option value="JUN">JUN</option>
                                <option value="JUL">JUL</option>
                                <option value="AUG">AUG</option>
                                <option value="SEP">SEP</option>
                                <option value="OCT">OCT</option>
                                <option value="NOV">NOV</option>
                                <option value="DEC">DEC</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="file">Select File:</label>
                            <input type="file" id="file-upload" [(ngModel)]="file" #fileInput formControlName="file" (change)="onFileChange($event)">
                        </div>
                    </div>
                    <div>
                    <button type="submit" class="button" style="margin-left: 250px;">Upload File</button>
                    
                    <button class="button" style="margin-left: 20px;" (click)="refreshForm()">Clear</button>

                    <button class="button" style="margin-left: 20px;">Close</button>
                    </div>

                </form>
            </div>
        </main>

        
    </div>
</body>
</html>