<header>
  <div class="header" style="background: linear-gradient(to right, #6a11cb, #2575fc); color: white; padding: 7px; position: relative; display: flex; align-items: center; justify-content: center;">
    <img src="assets/images/Sai Logo.jpg" alt="Sai Service" style="height: 50px; margin-right: 15px;">
    <marquee style="font-size: 22px; font-weight: bold;">WELCOME TO SAI SERVICE</marquee>
  </div>    
</header>

<h2 style="text-align: center; margin-top: 20px;background-color: #dde3ec;color: #405f8d;">View Network and Hardware Log Data</h2>

<div class="main-container">
 
  <main>
    <div class="upload-section">
      <!-- <h2 style="color: #405f8d;">Download Network and Hardware Log Data :</h2> -->
      <form [formGroup]="nhlogdownloadForm" (ngSubmit)="search()">

        <div class="form-group">
          <label for="city">City:</label>
          <select id="city" formControlName="ouId" style="height: 1cm; width: 100%;">
            <option *ngFor="let sc of cityList" [value]="sc.ouCity">{{ sc.ouCity }}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="year">Year:</label>
          <select id="year" formControlName="year" style="height: 1cm; width: 100%;">
            <option value="2024">2024</option>
            <option value="2025">2025</option>
          </select>
        </div>

        <div class="form-group">
          <label for="logType">Log Type:</label>
          <select id="logType" formControlName="logType" style="height: 1cm; width: 100%;">
            <option *ngFor="let sc of logTypeList" [value]="sc.code">{{ sc.code }}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="month">Month:</label>
          <select id="month" formControlName="month" style="height: 1cm; width: 100%;">
            <option value="JAN">JAN</option>
            <option value="FEB">FEB</option>
            <option value="MAR">MAR</option>
            <option value="APR">APR</option>
            <option value="MAY">MAY</option>
            <option value="JUN">JUN</option>
            <option value="JUL">JUL</option>
            <option value="AUG">AUG</option>
            <option value="SEPT">SEPT</option>
            <option value="OCT">OCT</option>
            <option value="NOV">NOV</option>
            <option value="DEC">DEC</option>
          </select>
        </div>
      
      
        <div class="form-group" style="margin-top: 20px;">
          <button type="submit" (click)="search()">View Data</button>
        </div>

        <!-- <div class="form-group" style="margin-top: 20px;">
           <button type="submit" (click)="refreshForm()">Clear</button>
        </div> -->

      </form>
    </div>

  

    <!-- <div *ngIf="reports?.length > 0" style="margin-top: 40px;"> -->
    <div style="margin-top: 40px;">

      <h3>Available Reports:</h3>
      <table style="width: 100%; text-align: left; border-collapse: collapse;">
        <thead>
          <tr style="background-color: #f2f2f2;">
            <th>Report Name</th>
            <th>Download Report</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let sc of nhteamreportsearch">
            <td>{{ sc.report_path }}</td>
            <td>
              <button (click)="openDocument(sc.report_path)">Download</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </main>

</div>