
.navbar{
  background: rgb(7, 7, 7,0.7);
   color: white;
   padding: 10px 20px;
   position: sticky;
   top: 0;
   z-index: 1000;
 }
 
 .navbar .container{
   display: flex;
   /* justify-content: space-between; */
 }
 
 .navbar .logo img{
   height: 45px;
 }
 
 .navbar-center{
   text-align: center;
   flex-grow: 1;
 }
 
 .navbar-text{
   font-size: 25px;
   font-weight: bold;
   color: white;
 }
 
 .navbar .nav-links{
   display: flex;
   list-style: none;
   gap: 15px;
 }
 
 .navbar .nav-links li{
   display: inline;
 }
 
 .navbar .nav-links a{
   text-decoration: none;
   color: white;
   font-size: 1rem;
   padding: 10px 13px;
 }
 
 .navbar .nav-links a:hover{
   background: orange;
   color: white;
 }
 
 .navbar .btn-nav{
   background: orange;
   color: white;
   padding: 5px 10px ;
   border-radius: 5px;
   text-decoration: none;
 }
 
 .navbar .btn-nav:hover{
   background: white;
   color: orange;
   border: 1px solid orange;
 }
 
 
 body,h1, h2, h3,p,h4,ul,li{
   margin: 0;
   padding: 0;
   list-style: none;
 }
 
 body{
   font-family: Arial, Helvetica, sans-serif;
 }
 
 .new{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 10px;
   background-color: #f8f8f8;
 }
 
 .header-left{
   flex: 1;
   text-align: center; 
   background: rgba(216, 213, 213, 0.6);
   text-align: center;
   height: 348px;
   margin-bottom: 3px;
   margin-right: 1px;
   padding: 5px;
   overflow: auto;
   box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
 }
 
 .header-center{
   flex: 2;
   text-align: center;
   position: relative;
   box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
 }
 
 .header-right{
   flex: 1;
   background: rgba(216, 214, 214, 0.6);
   text-align: center;
   height: 354px;
   margin-bottom: 3px;
   margin-left: 2px;
   box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
 }
 
 .new h1{
   font-size: 2.5rem;
   margin-bottom: 10px;
 }
 
 .page{
   margin-top:40px;
   font-size:30px;
   font-weight: bold;
   /* font-family: Georgia, 'Times New Roman', Times, serif; */
   color:black;
 }
 
 .news-container{
   background-color: rgba(149, 134, 235,0.8);
   padding: 16px;
   margin-bottom: 430px;
   width: 200px;
   box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.6);
 }
 
 .login-container{ 
   background-color: rgba(149, 134, 235,0.8);
   padding: 18px;
   box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.6);
   text-align: center;
   justify-content: center;
   align-items: center;
 }
 
 input{
   width: 75%;
   padding: 9px;
   margin: 8px 0;
   border: 1px solid #8b8888;
   font-size: 16px
 }
 
 .login-button{
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
  padding: 10px 10px;
  border: #b9b9b9;
  background: rgba(216, 214, 214, 0.6);
 }
 
 .login-button img{
   height: 42px;
 }
 
 .search-section{
   padding: 10px 0px 10px;
   background: rgba(0, 0, 0, 0.6);
   color: white;
   font-weight: 750;
 }
 
 .features{
   padding: 30px 110px;
   text-align: center;
   display: flex;
   gap: 18px;
   justify-content: center;
   background: rgba(59, 77, 180, 0.2);
   align-items: center;
   border: 1px solid;
   margin-top: 4px;
 }
 
 .features h3{
   text-align: center;
 }
 
 .features .container{
   display: flex;
   gap: 2px;
   justify-content: center;
 }
 
 .features .feature{
   width:180px;
   justify-content: center;
   align-items: center;
 }
 
 .features h3{
   font-size: 1.5rem;
   color: #333;
 }
 
 .features p{
   color: #666;
 }
 
 .latest-cars{
   padding: 40px 20px;
 }
 
 .latest-cars h2{
   text-align: center;
   margin-bottom: 20px;
 }
 
 .latest-cars .car-list{
   display: flex;
   justify-content: center;
   gap: 20px;
 }
 
 .latest-cars .car{
   text-align: center;
   padding: 10px;
   border: 1px solid #ccc;
 }
 
 .latest-cars  img{
   max-width: 100%;
   border-radius: 5px;
 }
 
 footer{
   padding: 8px ;
   background-color: #666;
   color: white;
   text-align: center;
 }
 
 .btn{ 
   display: inline-block;
   padding: 8px 15px;
   font-size: 13px;
   color: white;
   /* background-color: #4b0558bb; */
   background: linear-gradient(to right,#9e69b1,#b123e9,#cb9ddb);
   text-align: center;
   font-weight: bolder;
   border-radius: 5px;
   box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.7);
 }  

 .frontlogin-section {
  flex-grow: 1;
  text-align: center;
  margin: 0 20px;
  margin-top: 10px;
  border-radius: 10px;
  background-color: #c7d7f0;
}

.frontlogin-wrapper {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  padding: 4px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}

.frontlogin-text {
  font-size: 30px;
  font-weight: 700;
  color: #1e82f5ad;
  animation: glowing 2s infinite alternate;
}

/* @keyframes glowing {
  0% { color: #f3dbc4; text-shadow: 0 0 5px rgba(255, 255, 255, 0.5); }
  100% { color: #75caf1; text-shadow: 0 0 15px rgba(255, 109, 0, 0.7); }
} */


